<nav id="navbar">
    <div id="navbar-content">
        <div>
            <h2 id="navbar-brand">Gourmet Wiki</h2>
        </div>

        <div>
            <div>
                <menu id="navbar-menu">
                    <li class="navbar-menu--item from-right">Startseite</li>
                    <li class="navbar-menu--item from-right">Rezeptbuch</li>
                    <li class="navbar-menu--item from-right">Wiki</li>
                    <li class="navbar-menu--item from-right"><i class="navbar-profile icon-unlock fa-regular fa-user"></i></li>
                </menu>
            </div>

            <div>
                <i id="navbar-toggler" class="fa-solid fa-burger"></i>
            </div>
        </div>
    </div>

    <menu id="navbar-dropdown">
        <li class="navbar-dropdown--item">Startseite</li>
        <li class="navbar-dropdown--item">Rezeptbuch</li>
        <li class="navbar-dropdown--item">Wiki</li>
        <li class="navbar-dropdown--item"><i class="navbar-profile icon-unlock fa-regular fa-user"></i></li>
    </menu>
</nav>