.form-title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.form-input {
    background-color: var(--light-gray);
    width: 300px;
    padding: 7px 18px;
    border: solid 2px var(--black);
    border-radius: 3px;
    outline: none;
    margin-bottom: 20px;
}

.form-input:focus {
    border: solid 2px var(--soft-golden);
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}