#header {
    min-height: 0;
    height: 180px;
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.9)), url('../../img/header_gourmet_wiki.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

#header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-content > h1 {
    color: white;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
}

@media (min-width: 576px) {
    #header {
        height: 200px;
    }

    #header-content > h1 {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    #header {
        height: 220px;
    }
}

@media (min-width: 1200px) {
    #header {
        height: 240px;
    }

        #header-content > h1 {
        font-size: 32px;
    }
}